.main__text1{
    font-size: 45px;
}

.text__1{
    font-size: 25px;
}

.s1f1h1 {
    font-size: 45px;
}

.s2f1h1 {
    font-size: 20px;
}

.s3f1h1 {
    font-size: 20px;
}

.wrap {
    height: 1025px;
}

.section1 {
    margin-top: 37px;
}

.image1 {
    top: 430px;
}

.section2 {
    margin-top: -95px;
}

.section2__flex {
    margin-top: 0px;
}

.section3__flex1 {
    margin-top: -43px;
}

.section3 {
    margin-top: -75px;
}

.section2__flex1 {
    margin-top: 35px;
}